.card__list {
    max-width: 1200px;
    margin: 2rem auto;
}

.card {
    background-color: #242424;
    cursor: pointer;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    height: 170px;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.25s ease-in;
}

.card:hover {
    transform: translateY(-5px) scale(1.01);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

@media(max-width: 768px) {
    .card {
        flex-direction: column !important;
        height: auto;
    }
}

.card__img {
    border-radius: 10px 0 0 10px;
    flex: 1 30%;
    -webkit-flex: 1 30%;
    overflow: hidden;
    position: relative;
}

.card__img_preview {
    display: block;
    object-fit: cover;
    object-position: right;
    margin: 0 auto;
    min-width: 150px;
    max-width: 100%;
    min-height: 100%;
    transition: all 0.5s ease 0s;
    
}

.card__img_preview:hover {
    transform: scale(1.5);
}

.card-img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
}

.card__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    -webkit-flex: 1 70%;
    padding: 0.8rem;
}

.card__title {
    color: #bbb;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.card__text {
    color: wheat;
    font-size: 0.9rem;
    margin: 0;
}

.card__description {
    font-size: 0.8rem;
    margin: 0;
    margin-top: 0.5rem;
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    max-height: 2rem;
    line-height: 1rem;
}

.card__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: center;
    justify-content: space-between;
    border-top: 1px solid #efefef;
    padding-top: 0.5rem;
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #888;
}

.card__price {
    display: flex;
    align-items: center;
    background-color: green;
    border-radius: 10px;
    padding: 0 15px;
    color: #bbb;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}
