.searchbar__container{
    width: 100%;
}
.searchbar__content{
    width: 100%;
    display:  flex;
    justify-content: center;
    align-items: center;
}
.searchbar__input{
    width: 100%;
}
form {
    display: flex;
    padding: 10px;
    border-radius: 20px;
    background-color: #2e3033;
}

input[type="search"] {
    border:none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border-radius: inherit;
}
.searchbar__btn{
    background: transparent;
    border:  transparent;
    cursor: pointer;
    font-size: 1.2rem;
}
.searchbar__btn:focus,
input[type="search"]:focus {
    border-color: none;
    outline: none;
    color: white;
}
input[type="search"]::placeholder {
    color: #bbb;
}