.switch {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.toggle {
    display: inline-block;
    cursor: pointer;
}
.toggle__fill{
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 12.5px;
    border: 1px solid #a6a6a6;
    background-color: #a6a6a6;
    transition: background-color 500ms;
}
.toggle__fill::after{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #a6a6a6;
    border-radius: 12.5px;
    transition: transform 400ms;
}
.toggle input[type="checkbox"] {
    display: none;

}
.toggle input[type="checkbox"]:checked + .toggle__fill {
    background-color: #484a4d;       
}
.toggle input[type="checkbox"]:checked + .toggle__fill::after {
    transform: translateX(25px);
}