.card__container{
    background-image: linear-gradient(0deg,black, #2e3033);
    min-width: 40%;
    padding: 20px;
    border-radius: 30px;
    box-sizing: border-box;
}
.card__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}